body {
  background-color: #F0F0F0
}

.gl-logo{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.v1-space{
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 120%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
}

.content{
  margin-left: 18rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}

.center{
  text-align: center;
}

.inner-box{
  background-color: white;
  padding:25px;
}

.thead-dark {
  white-space: nowrap;
}

th{
  background-color: grey !important;
}

/*
.card-text{
  text-align: justify;
}
*/

.result_key{
  font-size: 1.4 rem;
}

.result_val{
  font-size: 1.4 rem;
  font-weight: 600;
  padding-left: 5px;;
}

h1, h2{
  font-weight: 500;
}

.fwb{
  font-weight: 500;
}